.main{
    background-color: #f2f2f2;
}
.intro{
   padding:30px 40px;
   background-color: #fff 
}
/*左侧部分*/
.i-left{
    width:765px;
}
/**放大镜区域**/
.imgs{
    width: 250px;
    float: left;
    margin-bottom: 30px;
    position: relative;
}
#mdImg{
    width:100%;
    border:1px solid #d3d3d3;
}
#mask{
    width: 125px;
    height:125px;
    background: #e2e2e2;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}
#superMask{
    width: 250px;
    height: 250px;
    top: 0;
    left: 0;
}
#lgDiv{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #a3a3a3;
    top: 0;
    left: 267px;
    z-index: 3;
}
.imgs .d-none{
    display: none;
}
.imgs .disabled{
    opacity: .5;
}
#thumbs{
    width:100%;
    text-align: center;
    margin-top: 15px;
}
#thumbs>img{
    padding: 18px 5px;
}
#thumbs>img:hover{
    background-color: antiquewhite
}
#thumbs>div{
    display: inline-block;
    width:190px;
    height:55px;
    overflow: hidden;
    margin:0 auto;
}
#thumbs>div>ul{
    transition: all .5s linear;
    width: 500px;
}
#thumbs>div>ul>li{
    float: left;
    border: 1px solid #d3d3d3;
    height: 48px;
    margin:3px; 
}
#thumbs>div>ul>li>img{
    width: 55px;
    height:45px;
}
#thumbs>div>ul>li:hover{
    border: 1px solid #e5cb;
}
#thumbs>div>ul>li.active{
    border: 1px solid #e5cb;
}
/**规格**/
#spec{
    width:450px;
    float: left;
    margin:0 20px 0 45px;
    color: rgb(188, 188, 188);
}
.fg-div{
    height: 3px;
    margin: 15px 0;
    width: 80px;
    background-color: #dddddd;
}
#spec>p:nth-child(1){
    font-size: 22px;
    margin-bottom: 15px;
    color: rgb(85, 85, 85);
}
#spec>p:nth-child(3){
    font-size: 26px;
    color: #ed4917;
    line-height: 26px;
    margin-bottom: 15px;
}
/**颜色**/
.tabs{
    height: 48px;
    margin: 20px 0 25px;
}
.tabs>p{
    font-size: 15px;
    font-weight: 700;
    color: #4d4d4d;
    display: inline-block;
    line-height: 48px;
    margin-right:10px; 
}
.tabs>div{
    width:320px;
    height: 42px;
    display: inline-block;
}
.tabs>div>div{
    display: inline-block;
    text-align: center;
    height: 100%;
    padding:9px;
    border: 1px solid #d3d3d3;
}
#spec>div.tabs>div>div.active{
    border: 1px solid #ed4917;
}
.tabs>div>div:hover{
    border: 1px solid #ed4917;
}
.tabs>div>div>span{
    margin-bottom: 20px;
}
.tabs>div>div>img{
    width:40px;
    height: 25px;
    vertical-align: middle;
}
/*加入购物车*/
.shop-car>a{
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(251, 94, 26);
    padding: 12px 65px;
    float: left;
    border-radius: 3px;
}
.buttons{
    padding-left: 15px;
    position: relative;
}
.buttons>input{
    width: 32px;
    height: 42px;
    float: left;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    text-align: center;
}
.buttons>.reduce{
    width: 32px;
    height: 42px;
    float: left;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    text-align: center;
}
.pro_meta{
    padding: 7px 0;
    border-bottom:1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    margin: 15px 0px;
}
.pro_meta>span:nth-child(2){
    margin-right: 40px;
}
/*描述*/
.i-left .desc{
    width:100%;
    position: relative;
    margin-top: 30px; 
}
.desc .tabs{
    overflow: hidden;
    width: 345px;
}
.desc .tabs>li{
    float: left;
    border-bottom:1px solid #000;
}
.desc .tabs>li>a{
    width: 115px;
    text-align: center;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
}
ul.tabs>li>a.active{
    border-color: #000;
    color: #000;
}
.tabs+div.slide-box{
    width:115px; 
    height:47px;
    border:1px solid #000;
    border-bottom:1px solid #fff;
    position:absolute; top:14px; left:0;
    transition:all .4s linear
}
.contents p{
    color: #000;
    font-weight: 600;
    padding: 15px 5px;
}
/*为你推荐*/
.i-right{
    width:160px;
    text-align: center;
    color: #000;
}
.i-right>div{
    font-size: 16px;
}
.i-right p{
    font: 16px "方正姚体";
}
.i-right img{
    width: 160px;
    height: 160px;
}
#content2{
    color: #000;
    font-weight: 600;
    letter-spacing:3px;
    line-height:25px;
}
.contents .content-box {
     display: none;    
}
.contents .content-box.active {
     display: block; 
}
#content3 .content-inner{
    border-bottom: 1px solid #d3d3d3;
    padding-top:10px; 
}
#content3 .content-inner>.content-title{
    display: flex;
    justify-content: space-between;
}
#content3 .content-inner>.content-text{
    padding:10px 5px 15px;
}

/*添加评论*/
.writecomment>textarea{
    font-size: 16px;
    width: 765px;
    padding: 10px;
    margin-bottom: 10px;
}
.writecomment>button{
    width: 100px;
    height: 30px;
    background-color: rgb(255, 255, 255,0.9);
    border-style: none;
    border: 1px solid #333;
    margin-bottom: 20px;
    float: right;
    cursor: pointer;
}
.page_btn>ul{
    float: right
}
.page_btn>ul>li{
    float: left;
    margin: 5px;
}
.page_btn>ul>li>button{
    background-color: #fff;
    border: 0;
    padding: 5px;
    color: #a3a3a3;
    width: 50px;
}
.bactive{
    border: 2px solid #cac;
}